@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --elifoot-orange: #f5a34f;
  --elifoot-orange-light: #ffc078;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-elifoot-orange: var(--elifoot-orange);
  --color-elifoot-orange-light: var(--elifoot-orange-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
